<!--
  ~ /*
  ~  *                                     /@
  ~  *                      __        __   /\/
  ~  *                     /==\      /  \_/\/
  ~  *                   /======\    \/\__ \__
  ~  *                 /==/\  /\==\    /\_|__ \
  ~  *              /==/    ||    \=\ / / / /_/
  ~  *            /=/    /\ || /\   \=\/ /
  ~  *         /===/   /   \||/   \   \===\
  ~  *       /===/   /_________________ \===\
  ~  *    /====/   / |                /  \====\
  ~  *  /====/   /   |  _________    /      \===\
  ~  *  /==/   /     | /   /  \ / / /         /===/
  ~  * |===| /       |/   /____/ / /         /===/
  ~  *  \==\             /\   / / /          /===/
  ~  *  \===\__    \    /  \ / / /   /      /===/   ____                    __  _         __  __                __
  ~  *    \==\ \    \\ /____/   /_\ //     /===/   / __ \__  ______  ____ _/ /_(_)____   / / / /__  ____ ______/ /_
  ~  *    \===\ \   \\\\\\\/   ///////     /===/  / / / / / / / __ \/ __ `/ __/ / ___/  / /_/ / _ \/ __ `/ ___/ __/
  ~  *      \==\/     \\\\/ / //////       /==/  / /_/ / /_/ / / / / /_/ / /_/ / /__   / __  /  __/ /_/ / /  / /_
  ~  *      \==\     _ \\/ / /////        |==/   \___\_\__,_/_/ /_/\__,_/\__/_/\___/  /_/ /_/\___/\__,_/_/   \__/
  ~  *        \==\  / \ / / ///          /===/
  ~  *        \==\ /   / / /________/    /==/
  ~  *          \==\  /               | /==/
  ~  *          \=\  /________________|/=/
  ~  *            \==\     _____     /==/
  ~  *           / \===\   \   /   /===/
  ~  *          / / /\===\  \_/  /===/
  ~  *         / / /   \====\ /====/
  ~  *        / / /      \===|===/
  ~  *        |/_/         \===/
  ~  *                       =
  ~  *
  ~  * Copyright(c) Developed by John Alves at 2018/11/5 at 6:8:21 for quantic heart studios
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quanticheart.com.baseproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".Http.HttpReceiver">
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- URI tutsplus://deeplink -->
                <data
                    android:host="toolbox"
                    android:scheme="toolbox" />
                <!-- URI http://www.mydeeplink.com -->
                <data
                    android:host="www.toolbox.com"
                    android:scheme="http" />

                <data
                    android:host="www.toolbox.com"
                    android:scheme="https" />

            </intent-filter>
        </activity>

    </application>

</manifest>
